    <form [formGroup]="robotForm" (ngSubmit)="onSubmitForm()">
      <label>Robot to add :</label>
      &nbsp;
      <input id="RobotName" formControlName="RobotName">      
      &nbsp;
      <button nbButton type="submit" [disabled]="robotForm.invalid">Ajouter</button>
    </form>
    <br>
    <br>
    
    <nb-card *ngFor="let item of items" style="width:max-content">      
      <nb-card-body>
        <tr>
          <td style="padding-right:15px">{{item.RobotName}}</td>
          <td><button (click)="onDelete(item.RobotID)">Supprimer</button></td> 
        </tr>        
      </nb-card-body>    
    </nb-card>

  

