
<div *ngif="!isAuth">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmitForm()">
            <label>Username : </label>
            &nbsp;
            <input type="text" id="Username" formControlName="Username"> 
            <br>
            <br>
            <label>Password : </label>
            &nbsp;
            <input type="password" id="Password" formControlName="Password"> 
            <br>
            <br>
            <button nbButton type="submit" [disabled]="loginForm.invalid">Login</button>     
      </form>
</div>
<div *ngif="isAuth"><button>Logout</button></div>